/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Mar-2017, 17:14:17
    Author     : Vinnie
*/
@charset "utf-8";
/* CSS Document voor deGazet */

/* NORMALIZE */
/* algemene instellingen */
html, body, div, section, article, aside, nav {
    margin:0;
    padding:0;
}
img {
    border:none;
    float:left;
    margin: 0 1.25em 0.5em 0;
}
table{
    border-collapse:collapse;
    border-spacing: 0;
    empty-cells:hide;
}
tr,td {
    margin:0;
    padding:0;
}
/*specifiek voor deze pagina: */ 
header {
    padding-top: 0.375em; /* 6px */
}
section, aside {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
article {
    margin: 0 20px 0 0; /* gutter */
    padding: 0.375em 0 1.25em; /* 6px 20px*/
}
article p {
    margin: 0;
    padding: 0 0 0.75em 0; /*12px*/
}
article h2 {
    margin: 0.375em 0; /*6px*/
}

/* TYPOGRAFIE */
body {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:100%
}
h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
}
a, a:visited {
    text-decoration:none;
}
a:hover, a:active {
    text-decoration:underline;
}
/* KLEURENSCHEMAS */
body {
    background:white;
    color:#333;
}
#topbanner, footer {
    background:#EDEDED;
}
.nieuws h1,.nieuws h2,.nieuws h3,.nieuws h4,.nieuws h5,.nieuws h6{
    color:#005689;
}
.nieuws a,.nieuws a:visited ,.nieuws a:hover,.nieuws a:active {
    color:#005689;
}

/**** STRUCTUUR EN LAY-OUT ****/
/* deze oef gaat door een aantal stadia:
1. FIXED LAY-OUT: 980px container, basis 5 kol
*/
.wikkel {
    width: 980px;
    margin: 0 auto;
    /* basis 1em = 16px
    4px = 0.25em
    8 = 0.5em
    10 = 0.625em
    14 = 0.875em
    18 = 1.125em
    20 = 1.25em
    32 = 2em
    100 = 6.25em;
    */
} /* dit is dus niet van toepassing op topbanner en footer, enkel wikkel!)*/

/****GRID****/
.span1 {
    width:196px;
    float:left;
}
.span2 {
    width:392px;
    float:left;
}
.span3 {
    width:588px;
    float:left;
}
.span4 {
    width:784px;
    float:left;
}
.span5 {
    width:980px;
    float:left;
}
.span5>article {
    margin-right:0; /* geen gutter in span5*/
}
.span5>h2 {
    margin-right:0; /* geen gutter in span5*/
}

/*
clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.clearFix:before, .clearFix:after {
    content: " ";
    display: table;
}
.clearFix:after {
    clear: both;
}
/* enkel voor IE6/7 */
.clearFix {
    *zoom: 1;
}