/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Mar-2017, 17:14:17
    Author     : Vinnie
*/
@charset "utf-8";
/* CSS Document voor deGazet */
body {
font-family:Georgia, "Times New Roman", Times, serif;
color:#335;
}
h1, h2, h3, h4, h5, h6 {
color:#005689;
}
